/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/
.container{
	width: 980px !important;
	max-width: 100%;
	margin: 0 auto;
}