<template name="Archives">
    <div class="ui segment">
        <div class="ui header">
            <i class="database icon"></i>
            <div class="content">
                Archives
            </div>
            <div class="sub header">
                Old stats and other things that don't fit anywhere else.
            </div>
        </div>
        <div class="ui divider"></div>
        	<a href="/Archives/2003-2008Results.pdf"><h3>All Results from 2003 to 2008</h3></a>
        <div class="ui divider"></div>
    		<a href="/Archives/champHistory.pdf">
    			<h3>All NQS Champions</h3>
    		</a>
    </div>
        
</template>
